---
permalink: /
title: Recovery
layout: page
---
<div class="usa-section intro-header">
  <div class="usa-grid">
    <p class="usa-font-lead no-print">The City of Sacramento is investing $89 million to help residents and businesses recover from the impacts of COVID-19.</p>
    <p class="usa-font-secondary no-print">See where the money's going and how you can receive assistance.</p>
  </div>
</div>
<div class="usa-section">
  {% for category in site.data.categories %}
    <section class="usa-grid category usa-section category--{{ category.category_name | slugify }}" id="{{ category.category_name | slugify }}">
      <h1 class="category--title category--{{ category.category_name | downcase }}--title">{{ category.category_name }}</h1>
      <div class="usa-width-two-thirds">
        <div class="category--header usa-content">
          <p class="category--subtitle">Up to {{ category.category_amount }} available</p>
          <p>{{ category.category_info }}</p>
          <a href="{{ site.baseurl }}/{{ category.category_name | slugify }}" class="a-see-all">See all {{ category.category_name | downcase }} resources</a>
        </div>
      </div>
      <div class="usa-width-one-third methods-listing">
        <h2>Resources include</h2>
        <ul>
          {% for method in category.methods %}
          <li><a href="{{ site.baseurl }}/{{ method | slugify }}">{{ method }}</a></li>
          {% endfor %}
          <li>*Pending Council Approval</li>
        </ul>
      </div>
    </section>
  {% endfor %}
</div>
